* {
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: monospace;
    max-width:fit-content
}

h1{
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 4px;
}

.column {
    /* flex: 50%; */
    padding: 0 4px;
}

button {
    margin: 4px 0;
}