* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: monospace;
}

header{
    text-align: center;
}

ol {
    margin-top: 0;
}

button {
    margin: 4px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 4px;
}

.column {
    flex: 50%;
    max-width:fit-content;
    padding: 0 4px;
}

.ib {
    display: inline-block;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}