<!DOCTYPE html>
<html lang="id">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/chessboard-1.0.0.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='libs/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/chess-0.10.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/chessboard-1.0.0.min.js') }}"></script>
</head>

<body>
    <header>
        <h1 >chess_cache</h1>
        <p id="fen"></p>
    </header>
    <div class="row">
        <div class="column">
            <div id="myBoard" style="width: 400px"></div>
            <button onclick="takeBack()">undo</button>
            <button onclick="requestAnalysis()">analyze</button>
            <button onclick="updateStatus()">refresh</button>
            
            <div id="pgn" style="width: 400px"></div>
        </div>
        <div class="column" id="info"></div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>