<!DOCTYPE HTML>
<html lang="id">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', path='cb/assets/chessboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='cb/assets/extensions/markers/markers.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='cb/assets/extensions/promotion-dialog/promotion-dialog.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>

<body>
    <span id="fen"></span>
    <div id="myBoard" style="width: 400px"></div>
    <script type='module' src="{{ url_for('static', path='quiz.js') }}"></script>
</body>

</html>