<!DOCTYPE HTML>
<html>

<head>
    <script type="text/javascript">
        var ws = new WebSocket("ws://localhost:8000/ws", ["Authorization", "token"]);
        var data = {};

        ws.onopen = function (e) {
            ws.send('OK')
        }
        ws.onmessage = function (e) {
            // message dalam bentuk JSON: {fen: fen, analysis: analysis}
            // tampilkan depth dan score ke tag HTML, simpan bestmove dll ke suatu var
            data = JSON.parse(e.data)

            document.getElementById('fen').innerHTML = data.fen;
            var _html = "";
            for (var info of data.analysis) {
                _html += "<li>";
                _html += "<b title='depth'>" + info.depth + "</b> ";
                _html += "<span title='score'>" + (info.score >= 0 ? '+' : '') + (info.score / 100).toFixed(2) + "</span> ";
                _html += "<em title='pv'>" + info.pv.map(item => `<span>${item}</span>`).join(' ') + "</em></li>";
            }
            document.getElementById("info").innerHTML = _html;
        };

        function hello() {
            ws.send('OK')
        }
        
        // chessboard here
        // on moveInputFinished check move == bestmove
        //      jika ya innerHTML counter+=1,
        //          give option to see analysis or somehting
        //          wait user click next => ws.send new problem, "clear screen", repeat
        //      jika tidak, undo move
        //          innerHTML "wrong move!", clear after some seconds


    </script>
</head>

<body>
    <a href="javascript:hello()">New Question</a>
    <span id="fen"></span>
    <details>
        <summary>spoiler</summary>
        <ol id="info"></ol>
    </details>

</body>

</html>
